<header class="mb-5">

  <nav class="navbar navbar-light border-bottom box-shadow" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand">
        <object type="image/svg+xml" data=" ../../../assets/acme-logo.svg">ACME Corporation</object>
      </a>
      <div class="navbar-nav nav flex-row">
        <a class="nav-item nav-link mx-3" routerLink="/directory" routerLinkActive="active">Search</a>
        <a class="nav-item nav-link ml-3" routerLink="/about" routerLinkActive="active">About</a>
      </div>
    </div>
  </nav>

</header>
